# Project exclude paths
/.ipynb_checkpoints/
/checkpoints/
.idea
.ipynb_checkpoints
/venv/
Exercise1_V2.ipynb
Exercise2_v1.ipynb
Exercise9_v2_FINAL.ipynb
Exercise10_v4_FINAL.ipynb
recipes_explanatory_analysis.ipynb
testing.py
/content/
.gitignore